!!!
%html
  %head
    %title MyReader
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
      .container
        .col-md-7.col-md-offset-5
          .collapse.navbar-collapse
            %form.navbar-form.navbar-left{role: 'search'}
              .form-group
                %input.form-control{name: 'query', value: params[:query], type: 'text', placeholder: 'Search'}
              %button.btn.btn-default
                Submit
    = yield
